<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BaseMap">
    <sql id="oraPageSqlPrefix">
        SELECT * FROM (SELECT rownum midTab_id,a.* FROM (
    </sql>
    <sql id="oraPageSqlSuffix">
        <![CDATA[
		 ) a) middleTable
		 WHERE middleTable.midTab_id >= #{startRow}
		 AND middleTable.midTab_id <= #{endRow}
		]]>
    </sql>

</mapper>